*{
  padding:0;
  margin:0;
  box-sizing: border-box;

  transition: all .2s ease-in-out;
}

body{
  font-family: 'Spartan', sans-serif;
  font-size: 15px;

  background-color: hsl(180, 52%, 96%);
}

.main-background-mb{
  margin-bottom: 200px;
}

.main-background-desktop{
  height: 156px;
  width: 100%;

  background-color: hsl(180, 29%, 50%);

  position: absolute;
  top: 0;
  left: 0;
}

.main-background-mobile{
  display: none;
}

.jobs-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 107px;
  padding-bottom: 60px;
}

.jobs-search-bar-container{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 118px;
  left: 0;
}

.jobs-search-bar{
  width: 80%;

  padding: 15px 35px;
  margin: 10px 0;
  margin-bottom: 35px;

  border-left: 0px solid hsl(180, 29%, 50%);
  
  background-color: white;

  box-shadow: 0px 4px 15px rgba(91, 164, 164, 0.22);

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobs-search-bar-items{
  display: flex;
  flex-wrap: wrap;
}

.jobs-search-bar-item-container{
  margin: 5px 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.jobs-search-bar-item{
  font-size: 11px;
  font-weight: bold;

  color: hsl(180, 29%, 50%);

  padding: 9px 8px 6px;

  border-radius: 5px 0px 0px 5px;

  background-color: hsl(180, 52%, 96%);

  cursor: pointer;

  transition: all .2s ease-in-out;
}

.jobs-search-bar-item-x{
  font-size: 16px;
  font-weight: bold;

  color: white;

  padding: 5px 5px;

  border-radius: 0px 5px 5px 0px;

  background-color: hsl(180, 29%, 50%);

  display: flex;
  align-content: center;
  justify-content: center;

  cursor: pointer;

  transition: all .2s ease-in-out;
}

.jobs-search-bar-item-x:hover{
  background-color: hsl(180, 14%, 20%);

  color: white;
}

.jobs-search-bar-clear{
  font-weight: bold;

  font-size: 11px;

  color: hsl(180, 29%, 50%);

  cursor: pointer;

  display: inline-block;
}

.jobs-search-bar-clear::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: hsl(180, 29%, 50%);
  transition: 300ms;
}

.jobs-search-bar-clear:hover::after {
  width: 100%;
}

.job-container{
  height: 120px;
  width: 80%;

  padding: 15px 35px;
  margin: 10px 0;

  border-left: 0px solid hsl(180, 29%, 50%);
  
  background-color: white;

  box-shadow: 0px 4px 15px rgba(91, 164, 164, 0.22);

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-container:hover{
  border-left: 5px solid hsl(180, 29%, 50%);
}

.job-content{
  display: flex;
  align-items: center;
}

.job-logo{
  width: 75px;

  margin-right: 20px;
}

.job-logo-mobile{
  display: none;
}

.job-details{
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.job-details-company{
  font-weight: bold;

  font-size: 11px;

  color: hsl(180, 29%, 50%);

  margin-right: 15px;
}

.job-details-new{
  width: 45px;
  height: 20px;

  border-radius: 30px;

  padding-top: 3px;
  margin-right: 7px;

  font-size: 9px;
  font-weight: 700;

  color: white;

  background-color: hsl(180, 29%, 50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.job-details-featured{
  width: 70px;
  height: 20px;

  border-radius: 30px;

  padding-top: 3px;

  font-size: 9px;
  font-weight: 700;

  color: white;

  background-color: hsl(180, 14%, 20%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.job-position{
  font-weight: bold;

  margin-bottom: 10px;

  color: hsl(180, 14%, 20%);

  cursor: pointer;
}

.job-position:hover{
  color: hsl(180, 29%, 50%);
}

.job-plus-details{
  font-weight: 500;
  font-size: 13px;

  color: hsl(180, 8%, 52%);
}

.job-plus-details-divider{
  margin: 0 10px;
}

.divider-container{
  display: none;
}

.job-particulars{
  font-size: 11px;
}

.job-particulars-role{
  font-weight: bold;

  color: hsl(180, 29%, 50%);

  margin: 0 5px;
  padding: 8px 5px;

  border-radius: 5px;

  background-color: hsl(180, 52%, 96%);

  cursor: pointer;

  transition: all .2s ease-in-out;
}

.job-particulars-role:hover{
  background-color: hsl(180, 29%, 50%);

  color: white;
}

.job-particulars-level{
  font-weight: bold;

  color: hsl(180, 29%, 50%);

  margin: 0 5px;
  padding: 8px 5px;

  border-radius: 5px;

  background-color: hsl(180, 52%, 96%);

  cursor: pointer;

  transition: all .2s ease-in-out;
}

.job-particulars-level:hover{
  background-color: hsl(180, 29%, 50%);

  color: white;
}

.job-particulars-language{
  font-weight: bold;

  color: hsl(180, 29%, 50%);

  margin: 0 5px;
  padding: 8px 5px;

  border-radius: 5px;

  background-color: hsl(180, 52%, 96%);

  cursor: pointer;

  transition: all .2s ease-in-out;
}

.job-particulars-language:hover{
  background-color: hsl(180, 29%, 50%);

  color: white;
}

.job-particulars-tool{
  font-weight: bold;

  color: hsl(180, 29%, 50%);

  margin: 0 5px;
  padding: 8px 5px;

  border-radius: 5px;

  background-color: hsl(180, 52%, 96%);

  cursor: pointer;

  transition: all .2s ease-in-out;
}

.job-particulars-tool:hover{
  background-color: hsl(180, 29%, 50%);

  color: white;
}

.attribution {
  width: 100%;

  font-size: 11px;
  text-align: center;

  margin-top: 20px;

  height: 30px;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
  
  margin-left: 3px;
}

@media screen and (max-width: 500px) {
  .main-background-mobile{
    display: initial;
  }

  .jobs-search-bar{
    padding: 15px 20px;
  }

  .jobs-search-bar-clear{
    color: hsl(180, 8%, 52%);
  }

  .job-container{
    display: block;

    height: unset;

    padding: 15px 20px;
    margin-bottom: 30px;

    position: relative;
  }

  .job-details{
    margin-top: 25px;
  }

  .job-logo{
    display: none;
  }

  .job-logo-mobile{
    display: initial;

    width: 50px;

    position: absolute;
    top: -22px;
  }

  .job-position{
    font-size: 12.5px;
  }

  .job-plus-details{
    font-size: 12px;

    margin-bottom: 5px;
  }

  .job-particulars{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    row-gap: 10px;
    column-gap: 15px;
  }

  .divider-container{
    display: initial;
  }

  .divider{
    margin: 10px 0;
  }

  .job-particulars-role,
  .job-particulars-level,
  .job-particulars-language,
  .job-particulars-tool{
    margin: unset;
    height: fit-content;
  }
}